.preheader {
    height: 44px;
    background-color: black;
    display: flex;
}
.menu {
    height: 84px;
    background-color: #ffffff;
    display: flex;
}
.dropdown.mega-dropdown{
    position: static;
}
.dropdown-menu{
    width: 100%;
}
.divider-vertical {
    display: block;
    position: relative;
    width: 0;
}
.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link.active {
    color: #17696a;
}
.navbar-brand {
    display: inline-block;
    flex-shrink: 0;
    font-size: 1.625rem;
    font-weight: bold;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .0625rem;
}
[class^=ci-], [class*=" ci-"] {
    display: inline-block;
    font-family: "createx-icons" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.zindex-5 {
    z-index: 5 !important;
}
.ci-search:before {
    content: url(../img/magnifier_icon-icons.com_48267.png);
}
.navbar-light .navbar-nav .nav-link {
    color: #424551;
}
.navbar-nav .nav-link {
    padding: 1rem 1rem 1rem 1rem;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}











.under_menu {
    height: 34px;
    background-color: #17696A;
    display
    : flex;
}
.carind_position_change{
    top:430px;
    justify-content: flex-start;
}
.carind_position_change [data-bs-target]{
    width: 150px;
    display: flex; 
    font-family: Lato;
    font-weight: 700;
    font-size: 30px;
    color: #424551;
    text-indent: 0;
}
.butt_inside{
margin-top: -55px;
}
.nav_button_carousel_demo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #000000;
    top: 80px;
}
.nav_button_carousel_demo H1{
    font-family: Lato;
    font-weight: 900;
    font-size: 72px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.button_on_slider{
    display: flex;
    flex-direction: row;
}
.button_on_slider #green_button{
    margin-right: 10px;
    background-color:transparent;
}
.header_select_catalogue {
    min-height: 500px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;

}
.header_image_select {
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: center;
    }
    .header_image_select_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -80px;
        z-index: 1;
        height: inherit;
    }
    @media screen and (max-width: 600px) {
        .header_select_catalogue {
            min-height:min-content;
            background-color: #ffffff;
            display: flex;
            justify-content: flex-start;
        
        }
        .header_image_select {
            display: flex;
            width:fit-content;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 0px;
        }
        .header_image_select_box{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }
    }
.header_image_select_box img{
    display: flex; 
    margin: 10px;
    height: inherit;
    width: 390px;
}
.header_image_select_box h3{
    display: flex; 
    font-family: Lato;
    font-weight: 800;
    font-size: 20px;
    color: #424551;
}
.clothers_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
.carous_image{
    display: flex;
flex-direction: row;
height: auto;
justify-content: center;
}
.add_param{
    display: flex;
    height: 400px;
    overflow:visible;
}
#c1.clothers_img{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end;
    background: url(../img/image_sale1.png);
    width: 280px;
    height: 300px;
    margin: 10px;
    padding: 8px;
}
#c2.clothers_img{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end;
    background: url(../img/image_sale2.png);
    width: 280px;
    height: 300px;
    margin: 10px;
    padding: 8px;
}
#c3.clothers_img{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end;
    background: url(../img/image_sale3.png);
    width: 280px;
    height: 300px;
    margin: 10px;
    padding: 8px;
}
#c4.clothers_img{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end;
    background: url(../img/image_sale4.png);
    width: 280px;
    height: 300px;
    margin: 10px;
    padding: 8px;
}
#c5.clothers_img{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end;
    background: url(../img/image_sale5.png);
    width: 280px;
    height: 300px;
    margin: 10px;
    padding: 8px;
}
#c6.clothers_img{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end;
    background: url(../img/image_sale6.png);
    width: 280px;
    height: 300px;
    margin: 10px;
    padding: 8px;
}
.indicators_margin{
    bottom: -96px;
}
.carousel-indicators [data-bs-target]{
    background-color: #B3B7BC;
}
#demo1 .carousel-item.carous_image.active{
    display: none;
}
.clothers_img img:last-child:hover{
    opacity: 2;
}
.clothers_img img:last-child{
    opacity: 0.4;
}
.clothers_name{
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.clothers_price{
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.clothers_name p{
    display: flex; 
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    color: #424551;
}
.clothers_price p{
    display: flex; 
    font-family: Lato;
    font-weight: 700;
    font-size: 20px;
    color: #1E212C;
}
.new_arrivals h2{
    display: flex; 
    font-family: Lato;
    font-weight: 900;
    font-size: 46px;
    color: #1E212C;  
    align-self: center;
}
.new_arrivals p{
    display: flex; 
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    color: #1E212C;  
    align-self: center;
    margin: 0;
}
.new_arrivals a{
    display: flex; 
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    color: #406851;  
    align-self: center;
}
.new_arrivals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}
.background_widget{
    background-position: center;
    background-size: cover;
}
.widget_1{
    margin-left: 30px;
    margin-right: 30px;
    height: 500px;
    margin-top: 65px;
    padding-top: 20px;
}
.background_widget_email{
    background-position:center;
    background-size: cover;
}
.background_widget h3{
    font-family: Lato;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}
.background_widget h2{
    font-family: Lato;
    font-weight: 900;
    font-size: 32px;
    color: #000000;
}
.btn-outline-primary{
    letter-spacing: 0.03125rem;
    white-space: nowrap;
    color: #17696a;
    border-color: #17696a; 
}
.btn-outline-primary:hover{
    background-color:#17696A ;
color:#E5E8ED;
}
.widget_popular {
    min-height: 360px;
    margin-top: 180px;
    margin-bottom: 180px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.widget_popular h2{
    display: flex;
     font-family: Lato;
    font-weight: 900;
    font-size: 46px;
    color: #1E212C;  
    align-self: center;
    margin-bottom: 45px;
}
.widget_popular_wrapper {
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: center;
    }
    .widget_popular_select_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: inherit;
    }
    @media screen and (max-width: 600px) {
        .widget_popular {
            min-height:min-content;
            background-color: #ffffff;
            display: flex;
            justify-content: flex-start;    
        }
        .widget_popular_wrapper {
            display: flex;
            width:fit-content;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 0px;
        }
        .widget_popular_select_box{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }
    }
.widget_popular_select_box img{
    display: flex; 
    margin: 15px;
    height: inherit;
}
.widget_popular_select_box h3, .widget_services_select_box h3{
    display: flex; 
    font-family: Lato;
    font-weight: 800;
    font-size: 20px;
    color: #424551;
    text-align: center;
}
#demo2 .carousel-item.carous_image.active{
    display: none;
}
.button_nav button{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 150%;
    font-weight: 900;
    font-stretch: ultra-expanded;
    border: 0px ;
    background: #ffffff;
}
.navigat_trending{
display: flex;
justify-content: space-between;
min-width: 1230px;
}
.widget_trending{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #E5E8ED;
}
.button_rule_position_right{
    background-color: #216a17;
    background: url(../img/prev-btn-right.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    top: -50px;
    right: 630px;;
}
.button_rule_position_left{
    background-color: #216a17;
    background: url(../img/prev-btn.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    top: -50px;
    left: 1720px;
}
.button_rule_position_right:hover {
    background: url(../img/prev-btn-white-right.png), #17696a ;
    background-position: center;
    background-repeat: no-repeat;
	color: #ffffff;
    border: 0px ;
}
.button_rule_position_left:hover {
    background: url(../img/prev-btn-white.png), #17696a ;
    background-position: center;
    background-repeat: no-repeat;
	color: #ffffff;
    border: 0px ;
}
.add_param_new_arr{
    height: 640px;
}
#demo2 .clothers_img.new_arriv{
    height:440px;
    width:390px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#green_button{
    height: 52px;
    width: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid #17696A;
    background-color: #E5E8ED;
    font-size: 17px;
    font-family: Lato;
    font-weight: 700;
    border-radius: 5px;
    color: #17696A;
}
#green_button:hover{
    background-color:#17696A ;
    color:#E5E8ED;
}
.trending_color{
    background-color: #E5E8ED;
}
.clothers_price.trending_color{
    font-size: 24px;
    font-weight: 700;
}
.widget_saleup{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #ffffff;
}
#demo3 .clothers_img.new_arriv{
    height:440px;
    width:390px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#demo3 .carousel-item.carous_image.active{
    display: none;
}
.widget_saleup #green_button, .widget_instagram #green_button{
    background-color: rgb(255, 255, 255);
}
.widget_saleup #green_button:hover{
    background-color:#17696A ;
    color:#E5E8ED;
}
.widget_instagram #green_button:hover{
    background-color:#17696A ;
    color:#E5E8ED;
    background: url(../img/Instagram_white.svg), #17696a ;
    background-position:20px;
    background-repeat: no-repeat;
}
.widget_instagram #green_button{
    background-color:#ffffff ;
    color:#17696a;
    background: url(../img/Instagram.svg);
    background-position:20px;
    background-repeat: no-repeat;
}
.sales_price p{
color: #ff0000;
}
.sales_price p span{
    color: #787A80;
    font-size: 18px;
    text-decoration: line-through;
    }
.widget_saleup #demo3 .clothers_img.new_arriv{
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    }
.like_wish_sales{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: flex-end;
}
.advert{
    display: flex;
    background-color: #000000;
    min-height: 300px;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
}
.img_advert{
   margin-top:-30px;
}
.text_advert{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 32px;
    font-weight: 900;
    color: white;
    font-family: Lato;
}
.widget_services {
    min-height: 360px;
    margin-top: auto;
    margin-top: 120px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.widget_services_wrapper {
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: center;
}
    .widget_services_select_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 136px;
        width: 330px;
    }
    .img_widget_services_select{
        margin-bottom: 25px;
    }
    .widget_services_border{
        width: 2px;
        height: 136px;
        background: #dadbdd;
        background: radial-gradient(#dadbdd,#ffffff);
    }
.widget_instagram{
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: center;
}
.widget_instarramm_linked_butt{
    height: 260px;
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
}
.wrapper_img_insta{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.wrapper_img_insta img{
    margin-left: 15px;
}
.widget_fashion_blog{
    margin-top: 180px;
    margin-bottom: 80px;
}
.widget_fashion_blog_nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 60px;
}
.widget_fashion_blog_content{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.widget_fashion_blog_content_left{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 5px 5px 20px gray;
}
.wrapper_fashion_blog_content_article{
    display: flex;
    flex-direction: column;
    padding: 24px 24px 24px 21px;
}
.wrapper_fashion_blog_content_article h3{
    display: flex; 
    font-family: Lato;
    font-weight: 800;
    font-size: 20px;
    color: #424551;
    text-align: left;
    margin-bottom:18px ;
}
.wrapper_fashion_blog_content_article p{
    display: flex; 
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    color: #424551;
    text-align: left;
    text-decoration: none;
}
.wrapper_fashion_blog_content_article address{
    display: flex; 
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    color: #787A80;
    text-align: left;
}
.wrapper_fashion_blog_content_article a{
    color: inherit;
    text-decoration: none;
}
.wrapper_fashion_blog_content_article a:hover{
    color: #17696A;
    text-decoration: none;
}
.wrapper_fashion_blog_content_article a h3:hover{
    color: #17696A;
    text-decoration: none;
}
time div{
    width: 2px;
    height: 20px;
    background: #787A80;
    margin-left: 10px;
    margin-right: 10px;
}
time{
    display: flex;
}
.widget_brands{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 84px;
}
.widget_brands a:hover{
    transform: scale(1.3);
}
.widget_feedback_footer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    min-height: 546px;
    padding-top: 65px;
}
.feedback_widg_col{
    background-color: #F4F5F6;
}
.widget_feedback_footer_button #green_button{
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
}
.widget_feedback_footer_button #green_button:hover{
    background-color: #17696A;
}
.btn.btn-primary{
    background-color: #17696A;
    border: 1px solid #17696A;
}
input[type="checkbox"]:checked{
    background-color: #17696A;
    color: #17696A;
}
.widget_feedback_footer_left{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding-top: 35px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 284px;
    padding-top: 60px;
    padding-bottom: 40px;  
}
.footer_color{
    background-color: #1E212C;
    border-bottom: 1px solid rgba(156, 156, 156, 0.3);
}
.call{
    display: flex;
    flex-direction: row;
}
#link_social_netw_button{
    background-color: #5c5f68;
    width: 32px;
    height: 32px;
    padding-bottom: 5px;
    border-radius: 5px;
    border:  #5c5f68;;
}
#link_social_netw_button:hover{
    background-color: #17696A;
}
.footer_col_menu h3{
    display: flex; 
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    margin-bottom: 12px;
}
.footer_col_menu{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.footer_col_menu p,.footer_col_menu a,.footer_bottom a{
    display: flex; 
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
}
.footer_bottom p{
    display: flex; 
    font-family: Lato;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
}
.footer_bottom img{
    margin-left: 5px;
    margin-right: 5px;
}
#store_app{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height:max-content;
    width:min-content;
    border: 1px solid #424551;
    background-color: #424551;
    border-radius: 5px;
}
#store_app:hover{
    border: 1px solid #ffffff;  
}
.footer_bottom{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top: 24px;
    padding-bottom: 15px;
}
.footer li{
    list-style-type: none; 
    margin-bottom: 5px;
}
.footer ul{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 0 0 0 0 ;
}
.nav_footer a:hover{
    color: #17696A;
}







#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    height: 50px;
width: 50px;
background: url(../img/arrow_up_icon_175856.png);
background-color: #17696a;

background-repeat: no-repeat;
border-radius: 50%;
border-color: #17696a;
  }
